{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha256-L/W5Wfqfa0sdBNIKN9cG6QA5F2qx4qICmU2VgLruv9Y=" crossorigin="anonymous"/>
    <link rel="icon" href="{% static "coding_tasks/knuth.jpeg" %}">
    <title>kodingbnx</title>
    {% block additional_head %}{% endblock %}
</head>
<body>
<div class="container">
    {% block menu %}
        <ul class="nav nav-tabs mb-4">
            <li class="nav-item">
                <a class="nav-link{% if request.resolver_match.url_name == "submit" %} active{% endif %}"
                   href="{% url "submit" %}">Submit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if request.resolver_match.url_name == "solutions_week" %} active{% endif %}"
                   href="{% url "solutions_week" %}">Solutions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if request.resolver_match.url_name == "user" %} active{% endif %}"
                   href="{% url "user" %}">User</a>
            </li>
            {% if user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link{% if request.resolver_match.url_name == "edit_tasks" %} active{% endif %}"
                       href="{% url "edit_tasks" %}">Edit tasks</a>
                </li>
            {% endif %}
            {% if user.is_superuser %}
                <li class="nav-item"><a class="nav-link" href="{% url "admin:index" %}">Admin</a></li>
            {% endif %}
        </ul>
    {% endblock %}
    {% block content %}{% endblock %}
</div>
<script src="//instant.page/3.0.0" type="module" defer integrity="sha384-OeDn4XE77tdHo8pGtE1apMPmAipjoxUQ++eeJa6EtJCfHlvijigWiJpD7VDPWXV1"></script>
{% block additional_js %}{% endblock %}
</body>
</html>
