{% extends "coding_tasks/base.html" %}
{% load static %}
{% load octicons %}

{% block content %}
    <div id="app"></div>
{% endblock %}
{% block additional_js %}
    {% if debug %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.10/vue.js"
                integrity="sha512-s+PN9Rg12gOk155+jtSyxHA6zVjtsWTsMIpbKVzIwaNFfl6FRsHRdP0Lr88i8cZ99+7v+ROlOTm3+1O6IZqEbQ=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% else %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.10/vue.min.js"
                integrity="sha512-H8u5mlZT1FD7MRlnUsODppkKyk+VEiCmncej8yZW1k/wUT90OQon0F9DSf/2Qh+7L/5UHd+xTLrMszjHEZc2BA=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.0/Sortable.min.js"
            integrity="sha512-Eezs+g9Lq4TCCq0wae01s9PuNWzHYoCMkE97e2qdkYthpI0pzC3UGB03lgEHn2XM85hDOUF6qgqqszs+iXU4UA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.24.3/vuedraggable.umd.min.js"
            integrity="sha512-VyYlTbK139H2WlmJs3QVOtdp0lcAIpPgGVFZrXUOBfqJoBA9AsfAHgSDPsYCo71jtFDW9pphEOlERL4ibDnUrQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.0.1/luxon.min.js"
            integrity="sha512-6ZJuab/UnRq1muTChgrVxJhSgygmL2GMLVmSJN7pcBEqJ1dWPbqN9CiZ6U3HrcApTIJsLnMgXYBYgtVkJ8fWiw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {{ editor_data|json_script:"editor-data" }}
    <script type="text/x-template" id="editor-template">
        <div id="app">
            <draggable
                    :list="tasks"
                    tag="ul"
                    class="list-group"
                    ghost-class="list-group-item-dark"
                    handle=".handle"
            >
                <li
                        class="list-group-item"
                        v-for="(task, idx) in tasks"
                        :key="task.id"
                        :class="{
                            'list-group-item-secondary': !is_valid_task(idx),
                            'list-group-item-danger': task.name.includes('=====END OF BACKLOG====='),
                        }"
                >
                    <div class="form-row">
                        <div class="handle col-sm-1 col-form-label text-center" style="cursor: move"
                             :class="{'text-danger': dates[idx].weekday > 5, 'text-primary': dates[idx].weekday == 4}">
                            [[ dates[idx].toFormat('EEE dd/MM') ]]
                        </div>
                        <input type="text" class="form-control col-sm-5" placeholder="Name" v-model="task.name"/>
                        <input type="url" class="form-control col-sm-5" placeholder="URL" v-model="task.url"
                               @input="process_name(idx)"/>
                        <div class="buttons col-sm-1">
                            <button type="button" class="close" @click="clean_or_remove_at(idx)">&times;</button>
                            <button type="button" class="btn" @click="to_backlog(idx)">{% octicon "arrow-up" height="24" %}</button>
                        </div>
                    </div>
                </li>
            </draggable>
            <div class="row my-3">
                <div class="col-auto mr-auto">
                    <button type="button" class="btn btn-secondary" @click="add_task()">Add row</button>
                    <button type="button" class="btn btn-primary" @click="save_tasks()">Save</button>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-primary" @click="resend_notification()">Resend notification
                    </button>
                </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item" v-for="(suggestion, idx) in suggestions" :key="suggestion.id">
                    <div class="form-row">
                        <div class="col-sm-10">
                            <a :href="[[ suggestion.url ]]" target="_blank">[[ suggestion.url ]]</a>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="close col-6" @click="remove_suggestion(idx)">
                                &times;
                            </button>
                            <button type="button" class="close col-6" @click="use_suggestion(idx)">
                                {% octicon "chevron-up" height="24" %}
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </script>
    <script src="{% static "coding_tasks/task_urls.js" %}"></script>
    <script>
        "use strict";
        const app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            template: '#editor-template',
            data: JSON.parse(document.getElementById('editor-data').textContent),
            computed: {
                dates() {
                    const first_day = luxon.DateTime.fromISO(this.start_date);
                    let res = [];
                    for (let i = 0; i < this.tasks.length; i++) {
                        res.push(first_day.plus({days: i}));
                    }
                    return res;
                },
            },
            methods: {
                is_valid_task(idx) {
                    const task = this.tasks[idx];
                    return task.name.length !== 0 && task.url.length !== 0;
                },
                to_backlog(idx) {
                    let backlog_marker_idx = -1;
                    for (let i = 0; i < this.tasks.length; i++) {
                        if (this.tasks[i].name === '=====END OF BACKLOG=====') {
                            backlog_marker_idx = i;
                            break;
                        }
                    }
                    if (backlog_marker_idx === -1) {
                        this.tasks.push({id: this.next_id, name: '=====END OF BACKLOG=====', url: 'https://blah.com'});
                        backlog_marker_idx = this.tasks.length - 1;
                        this.next_id = this.next_id + 1;
                    }
                    
                    if (idx < backlog_marker_idx || idx === backlog_marker_idx) {
                        return;
                    }

                    let end_of_backlog_idx = backlog_marker_idx - 1;
                    if (end_of_backlog_idx < 0) {
                        return;
                    }

                    if (this.tasks[end_of_backlog_idx].url !== '') {
                        end_of_backlog_idx = backlog_marker_idx;
                    }

                    let task = this.tasks[idx];
                    this.tasks.splice(idx, 1);
                    this.tasks.splice(end_of_backlog_idx, 0, task);
                },
                clean_or_remove_at(idx) {
                    if (this.is_valid_task(idx)) {
                        this.tasks[idx].name = '';
                        this.tasks[idx].url = '';
                    } else {
                        this.tasks.splice(idx, 1);
                    }
                },
                add_task(url = '') {
                    this.tasks.push({id: this.next_id, name: '', url: url});
                    this.process_name(this.next_id);
                    this.next_id = this.next_id + 1;
                },
                async save_tasks() {
                    const data = {
                        start_date: this.start_date,
                        tasks: this.tasks,
                        deleted_suggestions: this.deleted_suggestions,
                    };
                    const response = await fetch('', {
                        method: 'POST',
                        body: JSON.stringify(data),
                        headers: {
                            'X-CSRFToken': this.csrf_token,
                            'Content-Type': 'application/json',
                        },
                    });
                    if (response.status === 200) {
                        alert('Saved');
                    } else {
                        alert('Backend error, please reload this page.\n' +
                            'Or open it in another window, I\'m an alert, not a cop');
                    }
                },
                async resend_notification() {
                    if (confirm("Do you really want to resend notification?")) {
                        const response = await fetch('{% url "resend_notification" %}', {
                            method: 'POST',
                            headers: {
                                'X-CSRFToken': this.csrf_token,
                            },
                        });
                        if (response.status === 200) {
                            alert('Notification sent');
                        } else {
                            alert('Error while sending notification');
                        }
                    }
                },
                use_suggestion(idx) {
                    this.add_task(this.suggestions[idx].url);
                    this.remove_suggestion(idx);
                },
                remove_suggestion(idx) {
                    this.deleted_suggestions.push(this.suggestions[idx].id);
                    this.suggestions.splice(idx, 1);
                },
                process_name(idx) {
                    const url = this.tasks[idx].url;
                    if (url.startsWith('https://leetcode.com/problems/')) {
                        let sanitized_url = url;
                        if (sanitized_url.includes('/description/') || url.includes('/submissions/')) {
                            sanitized_url = url.replace('/description/', '/').replace('/submissions/', '/');
                        }
                        if (!sanitized_url.endsWith('/')) {
                            sanitized_url += '/';
                        }
                        this.tasks[idx].url = sanitized_url;
                        if (this.tasks[idx].name === '') {
                            const name = TASK_URLS_TO_NAMES[sanitized_url];
                            if (name) this.tasks[idx].name = name;
                        }
                    }
                },
            },
        });
    </script>
{% endblock %}
