{% extends "coding_tasks/base.html" %}
{% load octicons %}

{% block content %}
    <div id="app"></div>
{% endblock %}
{% block additional_js %}
    {% if debug %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js"
                integrity="sha512-YXLGLsQBiwHPHLCAA9npZWhADUsHECjkZ71D1uzT2Hpop82/eLnmFb6b0jo8pK4T0Au0g2FETrRJNblF/46ZzQ=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% else %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js"
                integrity="sha512-BKbSR+cfyxLdMAsE0naLReFSLg8/pjbgfxHh/k/kUC82Hy7r6HtR5hLhobaln2gcTvzkyyehrdREdjpsQwy2Jw=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.13.0/Sortable.min.js"
            integrity="sha512-5x7t0fTAVo9dpfbp3WtE2N6bfipUwk7siViWncdDoSz2KwOqVC1N9fDxEOzk0vTThOua/mglfF8NO7uVDLRC8Q=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.24.3/vuedraggable.umd.min.js"
            integrity="sha512-VyYlTbK139H2WlmJs3QVOtdp0lcAIpPgGVFZrXUOBfqJoBA9AsfAHgSDPsYCo71jtFDW9pphEOlERL4ibDnUrQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/1.26.0/luxon.min.js"
            integrity="sha512-cYjGoxnM2sxryDRpKhwi8uTszEw2zufuDVz1dWlm1+wlvwnhQ4wu00BokHH4IKlogGJNL+2a2GYvHN+xaoUxjQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {{ editor_data|json_script:"editor-data" }}
    <script type="text/x-template" id="editor-template">
        <div id="app">
            <draggable
                    :list="tasks"
                    tag="ul"
                    class="list-group"
                    ghost-class="list-group-item-dark"
                    handle=".handle"
            >
                <li
                        class="list-group-item"
                        v-for="(task, idx) in tasks"
                        :key="task.id"
                        :class="{'list-group-item-secondary': !is_valid_task(idx)}"
                >
                    <div class="form-row">
                        <div class="handle col-sm-1 col-form-label text-center" style="cursor: move"
                             :class="{'text-danger': dates[idx].weekday > 5, 'text-primary': dates[idx].weekday == 4}">
                            [[ dates[idx].toFormat('EEE dd/MM') ]]
                        </div>
                        <input type="text" class="form-control col-sm-5" placeholder="Name" v-model="task.name"/>
                        <input type="url" class="form-control col-sm-5" placeholder="URL" v-model="task.url"/>
                        <button type="button" class="close col-sm-1" @click="clean_or_remove_at(idx)">&times;</button>
                    </div>
                </li>
            </draggable>
            <div class="row my-3">
                <div class="col-auto mr-auto">
                    <button type="button" class="btn btn-secondary" @click="add_task()">Add row</button>
                    <button type="button" class="btn btn-primary" @click="save_tasks()">Save</button>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-primary" @click="resend_notification()">Resend notification
                    </button>
                </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item" v-for="(suggestion, idx) in suggestions" :key="suggestion.id">
                    <div class="form-row">
                        <div class="col-sm-10">
                            <a :href="[[ suggestion.url ]]" target="_blank">[[ suggestion.url ]]</a>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="close col-6" @click="remove_suggestion(idx)">
                                &times;
                            </button>
                            <button type="button" class="close col-6" @click="use_suggestion(idx)">
                                {% octicon "chevron-up" height="24" %}
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </script>
    <script>
        "use strict";
        const app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            template: '#editor-template',
            data: JSON.parse(document.getElementById('editor-data').textContent),
            computed: {
                dates() {
                    const first_day = luxon.DateTime.fromISO(this.start_date);
                    let res = [];
                    for (let i = 0; i < this.tasks.length; i++) {
                        res.push(first_day.plus({days: i}));
                    }
                    return res;
                },
            },
            methods: {
                is_valid_task(idx) {
                    const task = this.tasks[idx];
                    return task.name.length !== 0 && task.url.length !== 0;
                },
                clean_or_remove_at(idx) {
                    if (this.is_valid_task(idx)) {
                        this.tasks[idx]['name'] = '';
                        this.tasks[idx]['url'] = '';
                    } else {
                        this.tasks.splice(idx, 1);
                    }
                },
                add_task(url = '') {
                    this.tasks.push({id: this.next_id, name: '', url: url});
                    this.next_id = this.next_id + 1;
                },
                async save_tasks() {
                    const data = {
                        start_date: this.start_date,
                        tasks: this.tasks,
                        deleted_suggestions: this.deleted_suggestions,
                    };
                    const response = await fetch('', {
                        method: 'POST',
                        body: JSON.stringify(data),
                        headers: {
                            'X-CSRFToken': this.csrf_token,
                            'Content-Type': 'application/json',
                        },
                    });
                    if (response.status === 200) {
                        alert('Saved');
                    } else {
                        alert('Backend error, please reload this page.\n' +
                            'Or open it in another window, I\'m an alert, not a cop');
                    }
                },
                async resend_notification() {
                    if (confirm("Do you really want to resend notification?")) {
                        const response = await fetch('{% url "resend_notification" %}', {
                            method: 'POST',
                            headers: {
                                'X-CSRFToken': this.csrf_token,
                            },
                        });
                        if (response.status === 200) {
                            alert('Notification sent');
                        } else {
                            alert('Error while sending notification');
                        }
                    }
                },
                use_suggestion(idx) {
                    this.add_task(this.suggestions[idx].url);
                    this.remove_suggestion(idx);
                },
                remove_suggestion(idx) {
                    this.deleted_suggestions.push(this.suggestions[idx].id);
                    this.suggestions.splice(idx, 1);
                },
            },
        });
    </script>
{% endblock %}
