{% extends "coding_tasks/base.html" %}
{% block additional_head %}
    <style>
        .highlight {
            padding: .5em;
        }

        {{ pygments_css|safe }}
    </style>
{% endblock %}

{% block content %}
    <h2><a href="{{ task.url }}" target="_blank">{{ task.name }}</a></h2>
    {% for solution, formatted_solution in solution_and_formatted %}
        <h3 id="u{{ solution.user.id }}">
            {{ solution.user.get_short_name }}
            <small class="text-muted">({{ solution.get_language_display }})</small>
        </h3>
        {{ formatted_solution|safe }}
    {% empty %}
        <h3>No solutions yet.</h3>
    {% endfor %}
{% endblock %}
