{% extends "coding_tasks/base.html" %}
{% load bootstrap4 %}

{% block content %}
    <div id="app">
        <draggable
                :list="tasks"
                tag="ul"
                class="list-group"
                ghost-class="list-group-item-secondary"
                handle=".handle"
        >
            <li
                    class="list-group-item"
                    v-for="(task, idx) in tasks"
                    :key="task.id"
            >
                <div class="form-row">
                    <div class="handle col-sm-1 col-form-label text-center" style="cursor: move"
                         :class="{'text-danger': dates[idx].weekday > 5}">
                        [[ dates[idx].toFormat('dd/MM') ]]
                    </div>
                    <input type="text" class="form-control col-sm-5" placeholder="Name" v-model="task.name"/>
                    <input type="url" class="form-control col-sm-5" placeholder="URL" v-model="task.url"/>
                    <button type="button" class="close col-sm-1" @click="remove_at(idx)">&times;</button>
                </div>
            </li>
        </draggable>
        <button type="button" class="btn btn-secondary" @click="add_row()">Add row</button>
        <button type="button" class="btn btn-primary" @click="save_tasks()">Save</button>
    </div>
{% endblock %}
{% block additional_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"
            integrity="sha256-ufGElb3TnOtzl5E4c/qQnZFGP+FYEZj5kbSEdJNrw0A=" crossorigin="anonymous"></script>
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"#}
    {#            integrity="sha256-chlNFSVx3TdcQ2Xlw7SvnbLAavAQLO0Y/LBiWX04viY=" crossorigin="anonymous"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.10.1/Sortable.min.js"
            integrity="sha256-9D6DlNlpDfh0C8buQ6NXxrOdLo/wqFUwEB1s70obwfE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.23.2/vuedraggable.umd.min.js"
            integrity="sha256-GAVdfR/7cRNqncNsUBZSbgGaHPgQ5yhi9FMjm+3AJTw=" crossorigin="anonymous"></script>
    <script src="http://moment.github.io/luxon/global/luxon.min.js"></script>
    <script>
        const app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            data: {
                start_date: '{{ today }}',
                next_id: {{ total_tasks }},
                tasks: {{ tasks|safe }}
            },
            computed: {
                dates() {
                    const first_day = luxon.DateTime.fromISO(this.start_date);
                    let res = [];
                    for (let i = 0; i < this.tasks.length; i++) {
                        res.push(first_day.plus({days: i}));
                    }
                    return res;
                }
            },
            methods: {
                remove_at(idx) {
                    this.tasks.splice(idx, 1);
                },
                add_row() {
                    this.tasks.push({id: this.next_id, name: '', url: ''});
                    this.next_id = this.next_id + 1;
                },
                async save_tasks() {
                    const data = {
                        start_date: this.start_date,
                        tasks: this.tasks
                    };
                    const response = await fetch('', {
                        method: 'POST',
                        body: JSON.stringify(data),
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}',
                            'Content-Type': 'application/json'
                        },
                    });
                    const res = await response.json();
                    alert(JSON.stringify(res));
                }
            }
        });
    </script>
{% endblock %}
