{% extends "coding_tasks/base.html" %}

{% block content %}
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col"></th>
                {% for date in all_days %}
                    <th scope="col">
                        {% if not forloop.first or can_disclose_solutions %}
                            <a href="{% url "solutions_day" date %}">
                                {{ date|date:"D d/m" }}
                            </a>
                        {% else %}
                            {{ date|date:"D d/m" }}
                        {% endif %}
                    </th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row_user, row_user_solved_dates in users_and_solved_dates %}
                <tr{% if row_user == user %} class="table-warning"{% endif %}>
                    <th scope="row">{{ row_user.get_short_name }}</th>
                    {% for date in all_days %}
                        <td>
                            {% if date in row_user_solved_dates %}
                                {% if not forloop.first or can_disclose_solutions %}
                                    <a href="{% url "solutions_day" date %}#u{{ row_user.id }}-1">
                                        x
                                    </a>
                                {% else %}
                                    x
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            {% for name, last_solution in slackers %}
                <tr class="table-danger">
                    <th scope="row">{{ name }}</th>
                    <td colspan="2">{{ last_solution|timesince|default:"Never" }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
