{% extends "coding_tasks/base.html" %}

{% block content %}
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col"></th>
                {% for task in all_tasks %}
                    <th scope="col" title="{{ task.name }}">{{ task.date|date:"D d/m" }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for name, is_current_user, solutions in table_rows %}
                <tr{% if is_current_user %} class="table-warning"{% endif %}>
                    <th scope="row">{{ name }}</th>
                    {% for solution in solutions %}
                        <td>
                            {% if solution %}
                                {% if solution.url is not None %}
                                    <a href="{{ solution.url }}" target="_blank">x</a>
                                {% else %}
                                    x
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            {% for name, last_solution in slackers %}
                <tr class="table-danger">
                    <th scope="row">{{ name }}</th>
                    <td colspan="2">{{ last_solution|timesince|default:"Never" }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
